@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #0d8a20;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 20px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 40px;
  color: #e4e3e4;
}

.card {
  width: 300px;
  height: 450px;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  font-size: 150px;
}

.btn {
  display: block;
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Lobster", cursive;
  border-radius: 50px;
  border: none !important;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

.card.heart::before {
  content: "♥";
  color: red;
  position: absolute;
  top: 1px;
  left: 10px;
  font-size: var(--symbol-size, 5rem);
}

.card.heart::after {
  content: "♥";
  color: red;
  position: absolute;
  font-size: var(--symbol-size, 5rem);
  bottom: 1px;
  right: 10px;
  transform: rotate(180deg);
}
.card.diamond::before {
  content: "♦";
  color: red;
  position: absolute;
  font-size: var(--symbol-size, 5rem);
  top: 1px;
  left: 10px;
}

.card.diamond::after {
  content: "♦";
  color: red;
  position: absolute;
  font-size: var(--symbol-size, 5rem);
  bottom: 1px;
  right: 10px;
  transform: rotate(180deg);
}

.card.club::before {
  content: "♣";
  color: black;
  position: absolute;
  font-size: var(--symbol-size, 5rem);
  top: 1px;
  left: 10px;
}

.card.club::after {
  content: "♣";
  color: black;
  position: absolute;
  font-size: var(--symbol-size, 5rem);
  bottom: 1px;
  right: 10px;
  transform: rotate(180deg);
}

.card.spade::before {
  content: "♠";
  color: black;
  position: absolute;
  font-size: var(--symbol-size, 5rem);
  top: 1px;
  left: 10px;
}

.card.spade::after {
  content: "♠";
  color: black;
  position: absolute;
  font-size: var(--symbol-size, 5rem);
  bottom: 1px;
  right: 10px;
  transform: rotate(180deg);
}

.input-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

h5 {
  margin-bottom: 0;
  margin-right: 5px;
  font-family: "Lobster", cursive;
}

input[type="text"] {
  padding: 4px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  width: 150px;
  font-size: 14px;
  margin-right: 10px;
}

.size-btn {
  padding: 8px 16px;
  font-size: 14px;
  font-family: "Lobster", cursive;
  border-radius: 50px;
  border: none !important;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}

.size-btn:hover {
  background-color: #45a049;
  color: black;
}
